/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

/* Card Styles */
.card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin: 15px;
  padding: 20px;
  text-align: center;
}

.card-pic {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
}

.infos {
  font-size: 16px;
  text-align: justify;
  list-style-type: none;
  padding: 0;
}

/* Social Icons */
#linkedin, #github, #twitter, #mail {
  font-size: 24px;
  margin: 0 10px;
}

/* Section Styles */
.section {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 15px;
  padding: 20px;
}

/* Background Image */
.app {
  background-image: url('./components/assets/background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

/* Footer Styles */
.footer {
  background-color: #333;
  color: white;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
  .card {
    max-width: 100%;
  }
}
