.card{
  border: 1px solid whitesmoke;
  max-width: 300px;
  max-height: 600px;
  text-align: center;
  margin: 15px;
  padding: 10px;
  padding-top: 30px;
  display: inline-block;
}


.card .card-pic{
  width: 200px;
  border-radius: 15px;
  border: 2px solid whitesmoke;
}
.card .infos{
  font-family: sans-serif , arial;
  font-size: large;
  text-align: justify;
  list-style-type: circle;
}
#linkedin{
  font-size: 41px;
  color: midnightblue;
  padding: 5px;
}
#github{
  font-size: 41px;
  color: black;
  padding: 5px;
}
#twitter{
  font-size: 41px;
  color: rgb(146, 189, 246);
  padding: 5px;
}
#mail{
  font-size: 41px;
  color: red;
  padding: 5px;
}
.cmlg{
  border: 1px solid whitesmoke;
  max-width: 300px;
  max-height: 170px;
  text-align: center;
  margin: 15px;
  margin-left: 0.5px;
  padding: 10px;
  display: inline-block;
  position: fixed;
  width: 250px;
}
.cmlg .cmlg-content{
  font-family: sans-serif , arial;
  font-size: large;
  text-align: justify;
  list-style-type: circle;
  padding-right: 30px;
}
/*competences techniques*/
.Cmtc{
  border: 1px solid whitesmoke;
  max-width: 300px;
  max-height: 200px;
  text-align: center;
  margin: 15px;
  margin-left: 0.5px;
  padding: 10px;
  display: inline-block;
  position: static;
  position:absolute;
  top: 200px;
  width: 250px;
}
.Cmtc .Cmtc-content{
  font-family: sans-serif , arial;
  font-size: large;
  text-align: justify;
  list-style-type: circle;
  padding-right: 30px;
}