.card {
  border: 1px solid whitesmoke;
  max-width: 300px;
  max-height: 800px;
  text-align: center;
  margin: 15px;
  padding: 10px;
  padding-top: 30px;
  display: inline-block;
}

.card .card-pic {
  width: 200px;
  border-radius: 15px;
  border: 2px solid whitesmoke;
}
.card .infos {
  font-family: sans-serif, arial;
  font-size: large;
  text-align: justify;
  list-style-type: circle;
}
#linkedin {
  font-size: 41px;
  color: midnightblue;
  padding: 5px;
}
#github {
  font-size: 41px;
  color: black;
  padding: 5px;
}
#twitter {
  font-size: 41px;
  color: rgb(146, 189, 246);
  padding: 5px;
}
#mail {
  font-size: 41px;
  color: red;
  padding: 5px;
}

.cmlg .cmlg-content {
  font-family: sans-serif, arial;
  font-size: large;
  text-align: justify;
  list-style-type: circle;
  padding-right: 30px;
}
/*competences techniques*/
.Cmtc {
  max-width: 300px;
  max-height: 200px;
  text-align: center;
  margin: 15px;
  padding: 10px;
  display: inline-block;
  position: absolute;
  top: 500px;
  left: 370px;
  width: 250px;
}
.Cmtc .Cmtc-content {
  font-family: sans-serif, arial;
  font-size: large;
  text-align: justify;
  list-style-type: circle;
  padding-right: 30px;
}
/*objectif professionnel*/
.ObjProf {
  max-width: 600px;
  max-height: 250px;
  margin: 15px;
  margin-left: 0.5px;
  display: inline-block;
  position: absolute;
  left: 400px;
  top: 20px;
  width: auto;
}
.ObjProf .ObjProf-content {
  font-family: sans-serif, arial;
  font-size: large;
}
.forma{
  max-width: 600px;
  max-height: 250px;
  margin: 15px;
  margin-left: 0.5px;
  display: inline-block;
  position: absolute;
  left: 400px;
  top: 210px;
  width: auto;
}
.forma .forma-list{
  font-family: sans-serif, arial;
  font-size: large;
  text-align: justify;
  list-style-type: circle;
}
.Interet{
  max-width: 600px;
  max-height: 250px;
  margin: 15px;
  margin-left: 0.5px;
  display: inline-block;
  position: absolute;
  left: 670px;
  top: 500px;
  width: auto;
}
.Interet .Interet-list{
  font-family: sans-serif, arial;
  font-size: large;
  text-align: justify;
  list-style-type: circle;
}
.footer{
  text-align: center;
}
.section{
  border:  1px solid whitesmoke;
}
.app{
  background-image: url('./components/assets/backgound\ 1.jpg');
}